html {
  margin: 0;
  padding: 0;
}

body {
  font-family: fantasy: serif;
  font-

}

canvas {
  margin: auto;
  display: block;
  border-top: 15px solid;
  border-bottom: 15px solid;
  border-left: 15px solid;
  border-right: 15px solid;
  border-image: url(assets/rough-line.png) 45%;




}


.row {
  display: flex;
}

.column {
  flex: 50%;
}
