html {
  margin: 0;
  padding: 0;
}

body {
  font-family: fantasy;
  font-

}

canvas {
  margin: auto;
  display: block;
  border: 5px solid black;

}

.column {
  margin: 10px;
  flex;
}

.row {
  display:
  flex;
}
